/* styles.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background-color: #f0f0f0;
  padding: 20px;
  overflow-y: scroll;
}

.note-list {
  list-style-type: none;
  padding: 0;
}

.note-list li {
  cursor: pointer;
  margin-bottom: 10px;
}

.main-content {
  width: 80%;
  padding: 20px;
}

.content-wrapper {
  display: flex;
}

/* App.css */
body {
  background-color: #333; /* Fond gris foncé */
  color: white; /* Couleur du texte blanc */
}

.sidebar {
  float: left;
  width: 400px;
  height: 100%;
  background-color: #222; /* Fond gris plus foncé */
  border-right: 1px solid white; /* Ligne blanche séparatrice */
}

.main-content {
  margin-left: 200px; /* Pour compenser la largeur de la sidebar */
}

button {
  background-color: red; /* Boutons rouges */
  width: 320px;
  color: white; /* Texte blanc */
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.note-list li {
  cursor: pointer;
  padding: 10px;
}

.note-list li:hover {
  background-color: #444; /* Couleur de fond au survol */
}
